* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2vw;
}
body {
  background: #eee;
}
/* debut */
#intro {
  background-size: 100% 100%;
  width: 100vw;
  height: 50vw;
  background-color: black;
  visibility: inherit;
  margin-top: -2vw;
}
header {
  margin: 0vw;
  /* background-color: rgb(10, 10, 10, 0.5); */
  height: 10vw;
  text-align: center;
  /* position: absolute; */
  width: 100vw;
}
.logo {
  float: left;
}
.logoimg {
  height: 5vw;
  margin-left: 3vw;
  margin-top: 1vw;
  width: 15vw;
}
.sersh {
  float: left;
  margin-left: 15vw;
  display: block;
  margin-top: 2.2vw;
  height: 3vw;
  padding-left: 1vw;
}
.search {
  width: 15vw;
  height: 2vw;
  box-sizing: border-box;
  border-radius: 2vw;
  border: solid 0.1vw white;
  background-color: unset;
  background-image: url("/img/search.png");
  background-size: 1.5vw;
  background-repeat: no-repeat;
  background-position: 0.5vw 0.4vw;
  padding: 1vw;
  padding-left: 3vw;
  text-align: left;
  color: white;
}

.menu {
  color: aliceblue;
  margin-left: -4vw;
  margin-top: 2vw;
}
.menu .home {
  display: inline-block;
  margin-left: 5vw;
  position: relative;
  height: 10vw;
}
.menu .home a {
  color: azure;
  text-transform: capitalize;
  list-style: none;
  text-decoration: none;
  font-size: 1.1vw;
  font-family: "Cinzel", serif;
  position: absolute;
  margin-top: 2vw;
}
.menu .home a:hover {
  font-size: 1.3vw;
  color: aqua;
  margin-top: 1.8vw;
  margin-left: -0.5vw;
}

.langs {
  margin-left: 9vw;
  width: 80vw;
  text-align: center;
}
h1 {
  text-align: center;
  color: aliceblue;
  font-family: "Cinzel", serif;
  margin-top: 5vw;
  font-size: 3vw;
}
h2 {
  margin-top: 2vw;
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 2vw;
}
.lang {
  color: #0f0f0f;
  margin-top: 4vw;
  float: left;
  width: 23vw;
  height: 23vw;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 3vw;
  text-align: center;
  padding: 2vw;
  box-shadow: 0px 0px 1vw #000;
  box-sizing: border-box;
  border-radius: 50%;
  border: solid 0.2vw aqua;
  padding: 2vw;
}
.clear {
  clear: both;
}
.LG {
  position: relative;
  visibility: hidden;
  display: block;
  color: black;
  font-size: 2vw;
  list-style: none;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0px;
  border-radius: 0% 0% 5vw 5vw;
}
.LG li {
  padding: 1vw;
  background-color: whitesmoke;
  color: #000;
}
.LG li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: aqua;
}
.home :hover .LG {
  visibility: inherit;
}
.lang:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
}
.hikam {
  margin-top: 4vw;
  font-size: 1.5vw;
}
/* fin intro */
.books {
  width: 100vw;
  text-align: center;
  background-color: #eee;
  padding-bottom: 10vw;
}
.books h2 {
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-size: 3vw;
}
.books li {
  display: inline-block;
  width: 10vw;
  margin: 1vw;
  position: relative;
  text-align: left;
  height: 15vw;
}
.book {
  position: absolute;
  margin-top: 0vw;
  height: 15vw;
  width: 10vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: black 0px 0px 0.1vw;
  border: 0vw;
}

.book:hover {
  width: 11vw;
  height: 16vw;
  z-index: 100;
  text-align: center;
  margin-top: -0.5vw;
  margin-left: -0.5vw;
  box-shadow: aqua 0px 0px 1vw;
}
.iframe {
  top: 8vw;
  left: 3vw;
  width: 5vw;
  height: 5vw;
  position: fixed;
  box-shadow: #0f0f0f 0px 0px 0.5vw;
  /* margin-left: -30%; */
  background: url(/books/windigo.jpg);
  background-size: 100%;
  float: right;
  border-radius: 50%;
  border: white 0.1vw solid;
  overflow: hidden;
  z-index: 100;
}
iframe {
  width: 100vw;
  height: 50vw;
  border-radius: 0%;
  box-shadow: #0f0f0f 0px 0px 1vw;
  visibility: hidden;
  box-sizing: border-box;
}
.iframe:hover {
  border-radius: 0%;
  overflow: visible;
  top: 3vw;
  left: 0;
  width: 100vw;
  z-index: 150;
}
.iframe:hover iframe {
  overflow: visible;
  visibility: visible;
  width: 100vw;
}

.audio {
  top: 15vw;
  left: 3vw;
  width: 5vw;
  height: 5vw;
  position: fixed;
  /* margin-left: -30%; */
  /* background: url(/books/windigo.jpg); */
  background-size: 100%;
  float: right;
  border-radius: 50%;
  border: white 0.1vw solid;
  overflow: hidden;
  z-index: 110;
  background: url("/audio/partie1.jpg");
  background-size: 100% 100%;
  box-shadow: #0f0f0f 0px 0px 1vw;
}
audio {
  border-radius: 0%;
  visibility: hidden;
  box-sizing: border-box;
  margin-top: 1vw;
  margin-left: -10px;
}
.audio:hover {
  border-radius: 50%;
  overflow: visible;
  z-index: 150;
}
.audio:hover audio {
  overflow: visible;
  visibility: visible;
}
/* video */
.videos {
  top: 22vw;
  left: 3vw;
  width: 5vw;
  height: 5vw;
  position: fixed;
  background-size: 100%;
  float: right;
  border-radius: 50%;
  border: white 0.1vw solid;
  overflow: hidden;
  z-index: 10;
  background: url("/video/3.jpg");
  background-size: 100% 100%;
  box-shadow: #0f0f0f 0px 0px 1vw;
}
video {
  border-radius: 0%;
  visibility: hidden;
  box-sizing: border-box;
  margin-top: -10vw;
  margin-left: -1vw;
  height: 30vw;
}
.videos:hover {
  border-radius: 50%;
  overflow: visible;
  top: 22vw;
  z-index: 150;
}
.videos:hover video {
  overflow: visible;
  visibility: visible;
}
.bk {
  background: RED;
}
